<section class="w-75 mx-auto rounded shadow p-3 bg-main-clor">
  <h1>shop Cart</h1>
  <p class="text-main">Total price: {{ cartData.totalCartPrice }}</p>
  <div class="row border-bottom py-2" *ngFor="let item of cartData.products">
    <div class="col-md-1">
      <img
        class="w-100"
        [src]="item.product.imageCover"
        [alt]="item.product.title"
      />
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h6">{{ item.product.title }}</h3>
        <p class="text-main">price:{{ item.price }}</p>
        <button
          (click)="removeItem(item.product._id)"
          class="btn p-0 m-0 text-main"
        >
          <i class="fas fa-trash"></i>Remove
        </button>
      </div>

      <div>
        <button
          (click)="changeCuont(item.count + 1, item.product._id)"
          class="btn border-success btn-sm"
        >
          +
        </button>
        <span>{{ item.count }}</span>
        <button
          (click)="changeCuont(item.count - 1, item.product._id)"
          class="btn border-success btn-sm"
        >
          -
        </button>
      </div>
    </div>
  </div>

  <button class="btn main-btn" [routerLink]="['/Payment', cartData._id]">
    Online Payment
    <img src="./assets/imag/images (1).png" alt="" />
  </button>
</section>
