<section *ngIf="protectsDetails">
  <div class="row align-items-center g-4">
    <div class="col-md-3">
      <owl-carousel-o [options]="productsSlider">
        <ng-container *ngFor="let item of protectsDetails.images">
          <ng-template carouselSlide>
            <img [src]="item" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>

    </div>
    <div class="col-md-9">
      <div>
        <div class="card-body">
          <h3 class="font-sm">{{ protectsDetails.title }}</h3>
          <h4 class="card-text h6 text-main">
            {{ protectsDetails.category.name }}
          </h4>
          <h5 class="card-text h6 text-main">
            {{ protectsDetails.description }}
          </h5>
        </div>
        <div class="px-3 d-flex justify-content-between align-items-center">
          <span class="small">{{
            protectsDetails.price | currency : "EGP"
          }}</span>
          <span class="small">
            <i class="fas fa-star rating-color"></i
            >{{ protectsDetails.ratingsAverage }}</span
          >
        </div>
        <button class="main-btn w-100">+ Add To Cart</button>
      </div>
    </div>
  </div>
</section>
